.calendar {
display: flex;
text-align: center;
background: black;
height: 100px;
}
.oneDigit, .twoDigits, .threeDigist, .fourDigits {
font-size: 80px;
text-align: center;
color:white;
position: relative;
}